{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}



<form action="" method="post" style="width: 50%; margin: auto" novalidate>
  <!--{{form| crispy}} -->
  {% csrf_token %}
  <a class='btn btn-warning p-3' href="{% url 'pass_change' %}"> Change Your Password</a>
  <h3 class='text-center'>{{type}} Page</h3>
  {% if form.non_field_errors %}
    
  {% for er  in form.non_field_errors  %}
  
    <p class='bg-danger text-white p-3'>{{er}}</p>
    
  {% endfor %}
  
  {% endif %}

  {% for fm in  form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors | striptags }}
  
  {% endfor %}
    <button class='btn btn-info p-2' type="submit">Submit</button>
</form>

{% endblock content %}
